body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-31px;
  width:1105px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u12853 {
  position:fixed;
  left:50%;
  margin-left:0px;
  top:50%;
  margin-top:0px;
}
#u12853_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12853_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12854 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12855_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1105px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 2px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 2px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 2px 10px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12855 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:100px;
  width:1105px;
  height:970px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u12855 .text {
  position:absolute;
  align-self:flex-start;
  padding:24px 2px 2px 24px;
  box-sizing:border-box;
  width:100%;
}
#u12855_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12856 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:200px;
  width:1057px;
  height:390px;
}
#u12857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:40px;
}
#u12857 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u12857 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12857_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:40px;
}
#u12858 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:0px;
  width:381px;
  height:40px;
  display:flex;
  text-align:left;
}
#u12858 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12858_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
}
#u12859 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:0px;
  width:194px;
  height:40px;
  display:flex;
  text-align:right;
}
#u12859 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12859_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:40px;
}
#u12860 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:0px;
  width:335px;
  height:40px;
  display:flex;
  text-align:left;
}
#u12860 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12860_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:40px;
}
#u12861 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:147px;
  height:40px;
  display:flex;
  text-align:right;
}
#u12861 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12861_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:40px;
}
#u12862 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:40px;
  width:381px;
  height:40px;
  display:flex;
  text-align:left;
}
#u12862 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12862_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
}
#u12863 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:40px;
  width:194px;
  height:40px;
  display:flex;
  text-align:right;
}
#u12863 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12863_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:40px;
}
#u12864 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:40px;
  width:335px;
  height:40px;
  display:flex;
  text-align:left;
}
#u12864 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12864_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:40px;
}
#u12865 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:147px;
  height:40px;
  display:flex;
  text-align:right;
}
#u12865 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12865_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:40px;
}
#u12866 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:80px;
  width:381px;
  height:40px;
  display:flex;
  text-align:left;
}
#u12866 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12866_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
}
#u12867 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:80px;
  width:194px;
  height:40px;
  display:flex;
  text-align:right;
}
#u12867 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12867_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12868_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:40px;
}
#u12868 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:80px;
  width:335px;
  height:40px;
  display:flex;
}
#u12868 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12868_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:40px;
}
#u12869 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:147px;
  height:40px;
  display:flex;
  text-align:right;
}
#u12869 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12869_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:40px;
}
#u12870 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:120px;
  width:381px;
  height:40px;
  display:flex;
  text-align:left;
}
#u12870 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12870_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
}
#u12871 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:120px;
  width:194px;
  height:40px;
  display:flex;
  text-align:right;
}
#u12871 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12871_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12872_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:40px;
}
#u12872 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:120px;
  width:335px;
  height:40px;
  display:flex;
  text-align:left;
}
#u12872 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12872_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:40px;
}
#u12873 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:147px;
  height:40px;
  display:flex;
  text-align:right;
}
#u12873 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12873_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12874_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:40px;
}
#u12874 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:160px;
  width:381px;
  height:40px;
  display:flex;
  text-align:left;
}
#u12874 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12874_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
}
#u12875 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:160px;
  width:194px;
  height:40px;
  display:flex;
  text-align:right;
}
#u12875 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12875_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:40px;
}
#u12876 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:160px;
  width:335px;
  height:40px;
  display:flex;
  text-align:left;
}
#u12876 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12876_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:40px;
}
#u12877 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:147px;
  height:40px;
  display:flex;
  text-align:right;
}
#u12877 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12877_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:40px;
}
#u12878 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:200px;
  width:381px;
  height:40px;
  display:flex;
  text-align:left;
}
#u12878 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12878_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
}
#u12879 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:200px;
  width:194px;
  height:40px;
  display:flex;
  text-align:right;
}
#u12879 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12879_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:40px;
}
#u12880 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:200px;
  width:335px;
  height:40px;
  display:flex;
  text-align:left;
}
#u12880 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12880_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u12881 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:147px;
  height:30px;
  display:flex;
  text-align:right;
}
#u12881 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12881_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:30px;
}
#u12882 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:240px;
  width:381px;
  height:30px;
  display:flex;
  text-align:left;
}
#u12882 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12882_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
}
#u12883 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:240px;
  width:194px;
  height:30px;
  display:flex;
  text-align:right;
}
#u12883 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12883_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:30px;
}
#u12884 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:240px;
  width:335px;
  height:30px;
  display:flex;
  text-align:left;
}
#u12884 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12884_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u12885 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:270px;
  width:147px;
  height:30px;
  display:flex;
  text-align:right;
}
#u12885 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12885_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:30px;
}
#u12886 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:270px;
  width:381px;
  height:30px;
  display:flex;
  text-align:left;
}
#u12886 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12886_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
}
#u12887 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:270px;
  width:194px;
  height:30px;
  display:flex;
  text-align:right;
}
#u12887 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12887_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:30px;
}
#u12888 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:270px;
  width:335px;
  height:30px;
  display:flex;
  text-align:left;
}
#u12888 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12888_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u12889 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:147px;
  height:30px;
  display:flex;
  text-align:right;
}
#u12889 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12889_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:30px;
}
#u12890 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:300px;
  width:381px;
  height:30px;
  display:flex;
  text-align:left;
}
#u12890 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12890_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
}
#u12891 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:300px;
  width:194px;
  height:30px;
  display:flex;
  text-align:right;
}
#u12891 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12891_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:30px;
}
#u12892 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:300px;
  width:335px;
  height:30px;
  display:flex;
  text-align:left;
}
#u12892 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12892_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u12893 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:330px;
  width:147px;
  height:30px;
  display:flex;
  text-align:right;
}
#u12893 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12893_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:30px;
}
#u12894 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:330px;
  width:381px;
  height:30px;
  display:flex;
  text-align:left;
}
#u12894 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12894_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
}
#u12895 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:330px;
  width:194px;
  height:30px;
  display:flex;
  text-align:right;
}
#u12895 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12895_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:30px;
}
#u12896 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:330px;
  width:335px;
  height:30px;
  display:flex;
  text-align:left;
}
#u12896 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12896_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u12897 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:360px;
  width:147px;
  height:30px;
  display:flex;
  text-align:right;
}
#u12897 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12897_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:30px;
}
#u12898 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:360px;
  width:381px;
  height:30px;
  display:flex;
  text-align:left;
}
#u12898 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12898_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
}
#u12899 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:360px;
  width:194px;
  height:30px;
  display:flex;
  text-align:right;
}
#u12899 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12899_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:30px;
}
#u12900 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:360px;
  width:335px;
  height:30px;
  display:flex;
  text-align:left;
}
#u12900 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12900_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12901 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:710px;
  width:1057px;
  height:280px;
}
#u12902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:40px;
}
#u12902 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:40px;
  display:flex;
  text-align:right;
}
#u12902 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12902_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:40px;
}
#u12903 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:0px;
  width:381px;
  height:40px;
  display:flex;
  text-align:left;
}
#u12903 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12903_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
}
#u12904 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:0px;
  width:194px;
  height:40px;
  display:flex;
  text-align:right;
}
#u12904 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12904_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:40px;
}
#u12905 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:0px;
  width:335px;
  height:40px;
  display:flex;
  text-align:left;
}
#u12905 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12905_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:40px;
}
#u12906 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:147px;
  height:40px;
  display:flex;
  text-align:right;
}
#u12906 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12906_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:40px;
}
#u12907 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:40px;
  width:381px;
  height:40px;
  display:flex;
  text-align:left;
}
#u12907 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12907_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
}
#u12908 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:40px;
  width:194px;
  height:40px;
  display:flex;
  text-align:right;
}
#u12908 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12908_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:40px;
}
#u12909 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:40px;
  width:335px;
  height:40px;
  display:flex;
}
#u12909 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12909_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:40px;
}
#u12910 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:147px;
  height:40px;
  display:flex;
  text-align:right;
}
#u12910 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12910_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:40px;
}
#u12911 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:80px;
  width:381px;
  height:40px;
  display:flex;
  text-align:left;
}
#u12911 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12911_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
}
#u12912 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:80px;
  width:194px;
  height:40px;
  display:flex;
  text-align:right;
}
#u12912 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12912_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:40px;
}
#u12913 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:80px;
  width:335px;
  height:40px;
  display:flex;
  text-align:left;
}
#u12913 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12913_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12914_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:40px;
}
#u12914 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:147px;
  height:40px;
  display:flex;
  text-align:right;
}
#u12914 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12914_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:40px;
}
#u12915 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:120px;
  width:381px;
  height:40px;
  display:flex;
  text-align:left;
}
#u12915 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12915_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
}
#u12916 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:120px;
  width:194px;
  height:40px;
  display:flex;
  text-align:right;
}
#u12916 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12916_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:40px;
}
#u12917 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:120px;
  width:335px;
  height:40px;
  display:flex;
  text-align:left;
}
#u12917 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12917_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u12918 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:147px;
  height:30px;
  display:flex;
  text-align:right;
}
#u12918 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12918_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12919_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:30px;
}
#u12919 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:160px;
  width:381px;
  height:30px;
  display:flex;
  text-align:left;
}
#u12919 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12919_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
}
#u12920 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:160px;
  width:194px;
  height:30px;
  display:flex;
  text-align:right;
}
#u12920 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12920_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:30px;
}
#u12921 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:160px;
  width:335px;
  height:30px;
  display:flex;
  text-align:left;
}
#u12921 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12921_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u12922 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:190px;
  width:147px;
  height:30px;
  display:flex;
  text-align:right;
}
#u12922 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12922_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:30px;
}
#u12923 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:190px;
  width:381px;
  height:30px;
  display:flex;
  text-align:left;
}
#u12923 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12923_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
}
#u12924 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:190px;
  width:194px;
  height:30px;
  display:flex;
  text-align:right;
}
#u12924 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12924_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:30px;
}
#u12925 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:190px;
  width:335px;
  height:30px;
  display:flex;
  text-align:left;
}
#u12925 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12925_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u12926 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:220px;
  width:147px;
  height:30px;
  display:flex;
  text-align:right;
}
#u12926 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12926_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12927_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:30px;
}
#u12927 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:220px;
  width:381px;
  height:30px;
  display:flex;
  text-align:left;
}
#u12927 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12927_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
}
#u12928 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:220px;
  width:194px;
  height:30px;
  display:flex;
  text-align:right;
}
#u12928 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12928_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12929_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:30px;
}
#u12929 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:220px;
  width:335px;
  height:30px;
  display:flex;
  text-align:left;
}
#u12929 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12929_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12930_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u12930 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:250px;
  width:147px;
  height:30px;
  display:flex;
  text-align:right;
}
#u12930 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12930_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12931_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:30px;
}
#u12931 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:250px;
  width:381px;
  height:30px;
  display:flex;
  text-align:left;
}
#u12931 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12931_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12932_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
}
#u12932 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:250px;
  width:194px;
  height:30px;
  display:flex;
  text-align:right;
}
#u12932 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12932_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:30px;
}
#u12933 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:250px;
  width:335px;
  height:30px;
  display:flex;
  text-align:left;
}
#u12933 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12933_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12934_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(85, 132, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:0px 2px 10px rgba(47, 120, 255, 0.627450980392157);
  -webkit-box-shadow:0px 2px 10px rgba(47, 120, 255, 0.627450980392157);
  box-shadow:0px 2px 10px rgba(47, 120, 255, 0.627450980392157);
  font-family:'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12934 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:0px;
  width:130px;
  height:40px;
  display:flex;
  font-family:'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12934 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12934_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:0px 2px 10px rgba(47, 120, 255, 0.627450980392157);
  -webkit-box-shadow:0px 2px 10px rgba(47, 120, 255, 0.627450980392157);
  box-shadow:0px 2px 10px rgba(47, 120, 255, 0.627450980392157);
  font-family:'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12934.mouseOver {
}
#u12934_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12935_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:0px 2px 10px rgba(47, 120, 255, 0.627450980392157);
  -webkit-box-shadow:0px 2px 10px rgba(47, 120, 255, 0.627450980392157);
  box-shadow:0px 2px 10px rgba(47, 120, 255, 0.627450980392157);
  font-family:'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12935 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:0px;
  width:129px;
  height:40px;
  display:flex;
  font-family:'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12935 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12935_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:0px 2px 10px rgba(47, 120, 255, 0.627450980392157);
  -webkit-box-shadow:0px 2px 10px rgba(47, 120, 255, 0.627450980392157);
  box-shadow:0px 2px 10px rgba(47, 120, 255, 0.627450980392157);
  font-family:'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12935.mouseOver {
}
#u12935_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12936_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12936 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:635px;
  width:96px;
  height:21px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12936 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12936_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
